<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-default clear wrap overflow' id="comment_<%= comment.id %>">

      <div class='panel-heading'>

        <p class='panel-title'>
          <strong>

            <% if comment.user.admin? %>
              <%= link_to "#{comment.user.try(:name)}",
                          comment.user,
                          class: "admin-user" %>
            <% elsif comment.user.mod? %>
              <%= link_to "#{comment.user.try(:name)}",
                          comment.user,
                          class: "mod-user" %>
            <% else %>
              <%= link_to "#{comment.user.try(:name)}",
                          comment.user %>
            <% end %>

            <% if comment.parent_id == nil %>
              <%= link_to 'Context',
                          comment.article,
                          class: "comment-context" %>
            <% else %>
              <%= link_to 'Context',
                          comment.parent,
                          class: "comment-context" %>
            <% end %>

          </strong>
        </p>
      </div>

      <div class='panel-body'>

        <p class='comment-body'><%= comment.body %></p>
        <p class='comment-time'>
          <span title=<%= comment.updated_at.localtime.asctime.split.join('-') %>>
            <%= distance_of_time_in_words_to_now(comment.updated_at) %> ago
          </span>
        </p>

        <% if logged_in? %>
          <div class='comment-buttons'>
            <%= link_to '',
                        new_comment_path(comment.id),
                        remote: true,
                        title: 'Reply',
                        id: "reply_button",
                        class: "btn btn-xs btn-default
                                glyphicon glyphicon-share-alt
                                comment-reply" %>
            <% unless comment.unflagged? %>
              <%= link_to '',
                          flag_comment_path,
                          method: :post,
                          data: { confirm: 'Flag Comment?' },
                          class: "btn btn-xs btn-warning
                                  glyphicon glyphicon-warning-sign
                                  comment-flag" %>
            <% end %>
            <% if power_user? && comment.flagged? %>
                <%= link_to '',
                          unflag_comment_path,
                          method: :post,
                          data: { confirm: 'Unflag Comment?' },
                          class: "btn btn-xs btn-warning
                                  glyphicon glyphicon-check
                                  comment-flag" %>
              <% end %>
            <% end %>
            <% if power_user? || current_user = comment.user %>
              <%= link_to '',
                          comment,
                          method: :delete,
                          data: { confirm: 'Delete Comment?' },
                          class: "btn btn-xs btn-danger
                                  glyphicon glyphicon-remove
                                  comment-delete" %>
            <% end %>
          </div>

        <% end %>

      </div>

      <div id="reply_form_<%= comment.id %>">
      </div>

    </div>
  </div>
</div>
