<div class='row anchor' id="comment_<%= comment.id %>">
  <div class='col-md-6'>
    <% if comment.flagged? && logged_in? && power_user? %>
      <div class='panel panel-warning clear wrap overflow'>
    <% elsif comment.unflagged? && logged_in? && power_user? %>
      <div class='panel panel-info clear wrap overflow'>
    <% else %>
      <div class='panel panel-default clear wrap overflow'>
    <% end %>

      <div class='panel-heading'>

        <p class='panel-title'>
          <strong>

            <% if comment.user.admin? %>
              <%= link_to "#{comment.user.try(:name)}",
                          comment.user,
                          class: "admin-user" %>
            <% elsif comment.user.mod? %>
              <%= link_to "#{comment.user.try(:name)}",
                          comment.user,
                          class: "mod-user" %>
            <% else %>
              <%= link_to "#{comment.user.try(:name)}",
                          comment.user %>
            <% end %>

            <% if comment.root? && comment.leaf? %>
              <%= link_to 'Context',
                          comment.article,
                          title: 'Context',
                          class: "comment-context" %>
            <% else %>
              <%= link_to "Context (#{comment.depth})",
                          comment.root,
                          title: 'Context',
                          class: "comment-context" %>
            <% end %>

          </strong>
        </p>
      </div>

      <div class='panel-body'>

        <p class='comment-body'><%= comment.body %></p>
        <div class='comment-status'>
          <li title=<%= comment.updated_at.localtime.asctime.split.join('-') %>>
            <%= distance_of_time_in_words_to_now(comment.updated_at) %> ago
          </li>
        </div>

        <% if logged_in? %>
          <div class='comment-buttons'>
            <%= link_to '',
                        new_comment_path(comment.id),
                        remote: true,
                        title: 'Reply',
                        id: "reply_button",
                        class: "btn btn-xs btn-default
                                glyphicon glyphicon-share-alt
                                comment-reply" %>
            <% unless power_user? || current_user?(comment.user) || comment.unflagged? %>
              <%= link_to '',
                          flag_comment_path(comment.id),
                          method: :post,
                          title: 'Flag',
                          data: { confirm: 'Are you sure you want to flag this comment for inappropriate content?' },
                          class: "btn btn-xs btn-warning
                                  glyphicon glyphicon-warning-sign
                                  comment-flag" %>
            <% end %>
            <% if power_user? && comment.flagged? %>
                <%= link_to '',
                          unflag_comment_path(comment.id),
                          method: :post,
                          title: 'Unflag',
                          data: { confirm: 'Are you sure you want to unflag this comment?' },
                          class: "btn btn-xs btn-success
                                  glyphicon glyphicon-check
                                  comment-flag" %>
            <% end %>
            <% if power_user? || current_user?(comment.user) %>
              <%= link_to '',
                          comment,
                          method: :delete,
                          title: 'Delete',
                          data: { confirm: 'Are you sure you want to delete this comment?' },
                          class: "btn btn-xs btn-danger
                                  glyphicon glyphicon-remove
                                  comment-delete" %>
            <% end %>
          </div>

        <% end %>

      </div>

      <div id="reply_form_<%= comment.id %>">
      </div>

    </div>
    <div id="ajax_flash_<%= comment.id %>">
    </div>
  </div>
</div>

<div class='replies' id="ajax_reply_<%= comment.id %>">
</div>
