<div class='anchor' id="comment_<%= comment.id %>">

  <% if comment.flagged? && logged_in? && power_user? %>
    <div class='panel panel-warning clear wrap overflow'>
  <% elsif comment.unflagged? && logged_in? && power_user? %>
    <div class='panel panel-info clear wrap overflow'>
  <% else %>
    <div class='panel panel-default clear wrap overflow'>
  <% end %>

    <div class='panel-heading'>

      <p class='panel-title'>
        <strong>

          <% if comment.user.admin? %>
            <%= link_to "#{comment.user.try(:name)}",
                        comment.user,
                        class: "admin-user" %>
          <% elsif comment.user.mod? %>
            <%= link_to "#{comment.user.try(:name)}",
                        comment.user,
                        class: "mod-user" %>
          <% else %>
            <%= link_to "#{comment.user.try(:name)}",
                        comment.user %>
          <% end %>

          <% if comment.parent_id == nil %>
            <%= link_to 'Context',
                        comment.article,
                        title: 'Context',
                        class: "comment-context" %>
          <% else %>
            <%= link_to 'Context',
                        comment.root,
                        title: 'Context',
                        class: "comment-context" %>
          <% end %>

        </strong>
      </p>
    </div>

    <div class='panel-body'>

      <p class='comment-body'><%= comment.body %></p>
      <div class='comment-status'>
        <li title=<%= comment.updated_at.localtime.asctime.split.join('-') %>>
          <%= distance_of_time_in_words_to_now(comment.updated_at) %> ago (<%= comment.descendants.count %> replies)
        </li>
      </div>

    </div>

  </div>

</div>
