<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-default clear wrap overflow'>

      <div class='panel-heading'>

        <p class='panel-title'>
          <strong>

            <% if @comment.user.admin? %>
              <%= link_to "#{@comment.user.try(:name)}",
                            @comment.user,
                            class: "admin-user" %>
            <% else %>
              <% if @comment.user.mod? %>
                <%= link_to "#{@comment.user.try(:name)}",
                            @comment.user,
                            class: "mod-user" %>
              <% else %>
                <%= link_to "#{@comment.user.try(:name)}",
                            @comment.user %>
              <% end %>
            <% end %>


            <% if @comment.parent_id == nil %>
              <%= link_to 'Context',
                          @comment.article,
                          class: "comment-context" %>
            <% else %>
              <%= link_to 'Context',
                          @comment.parent,
                          class: "comment-context" %>
            <% end %>

          </strong>
        </p>
      </div>

      <div class='panel-body'>

        <p class='comment-body'><%= @comment.body %></p>
        <p class='comment-time'>
          <span title=<%= @comment.updated_at.localtime.asctime.split.join('-') %>>
            <%= distance_of_time_in_words_to_now(@comment.updated_at) %> ago
          </span>
        </p>

        <div class='comment-buttons'>
          <% if logged_in? %>
            <% from_reply_form ||= nil %>
            <% unless from_reply_form %>
              <%= link_to '',
                          new_comment_path(@comment.id),
                          class: "btn btn-xs btn-default
                                  glyphicon glyphicon-share-alt
                                  comment-reply" %>
            <% end %>
          <% end %>
          <% if logged_in? && current_user.admin? || current_user.mod? %>
              <%= link_to '',
                          @comment,
                          method: :delete,
                          data: { confirm: 'Delete Comment?' },
                          class: "btn btn-xs btn-danger
                                  glyphicon glyphicon-remove
                                  comment-delete" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
