<% if article.featured? %>
  <div class='panel panel-primary'>
<% elsif article.approved? %>
  <div class='panel panel-info'>
<% elsif article.reported? && logged_in? && power_user? %>
  <div class='panel panel-warning'>
<% else %>
  <div class='panel panel-default'>
<% end %>

  <div class='panel-heading'>

    <h3 class='panel-title'>

      <%= link_to article.title.html_safe,
                  article %>

      <% if article.featured? %>
        <span class='label label-danger article-tag clear'>
          <%= link_to article.category.name,
                      article.category,
                      title: "#{article.category.name}" %>
        </span>
      <% elsif article.approved? %>
        <span class='label label-success article-tag clear'>
          <%= link_to article.category.name,
                      article.category,
                      title: "#{article.category.name}" %>
        </span>
      <% elsif article.reported? && logged_in? && power_user? %>
        <span class='label label-info article-tag clear'>
          <%= link_to article.category.name,
                      article.category,
                      title: "#{article.category.name}" %>
        </span>
      <% else %>
        <span class='label label-default article-tag clear'>
          <%= link_to article.category.name,
                      article.category,
                      title: "#{article.category.name}" %>
        </span>
      <% end %>

    </h3>

  </div>

  <div class='panel-body'>

    <span class='article-body'>

    <p class='row'><%= article.body.html_safe %></p>

    </span>

    <div>
      <%= link_to gravatar_for(article.user, size: 50), article.user %>

      <span class='user'>
      <% if article.user.admin? %>
        <%= link_to article.user.name,
                    article.user,
                    class: 'admin-user' %>
      <% else %>
        <% if article.user.mod? %>
          <%= link_to article.user.name,
                      article.user,
                      class: 'mod-user' %>
        <% else %>
          <%= link_to article.user.name,
                      article.user %>
        <% end %>
      <% end %>
      </span>

    </div>

    <span class='article-time'>
      <li>Created: <%= article.created_at %></li>
      <li>Updated: <%= article.updated_at %></li>
    </span>

    <% if logged_in? %>

      <div class='article-buttons'>

        <% unless article.approved? || current_user?(article.user) %>
          <%= link_to '',
                      report_article_path(article),
                      method: :post,
                      title: 'Report',
                      data: { confirm: 'Are you sure you want to report this article for inappropriate content?'},
                      class: 'btn btn-sm btn-warning
                              glyphicon glyphicon-warning-sign' %>
        <% end %>

        <% if power_user? %>
          <% if article.approved? %>
            <%= link_to '',
                        approve_article_path(article),
                        method: :post,
                        title: 'Unapprove',
                        data: { confirm: 'Are you sure you want to unapprove this article?'},
                        class: 'btn btn-sm btn-primary
                                glyphicon glyphicon-eye-open' %>
          <% else %>
            <%= link_to '',
                        approve_article_path(article),
                        method: :post,
                        title: 'Approve',
                        data: { confirm: 'Are you sure you want to approve this article?'},
                        class: 'btn btn-sm btn-default
                                glyphicon glyphicon-eye-close' %>
          <% end %>
        <% end %>

        <% if power_user? %>
          <% if article.featured? %>
            <%= link_to '',
                        feature_article_path(article),
                        method: :post,
                        title: 'Unfeature',
                        data: { confirm: 'Are you sure you want to unfeature this article?'},
                        class: 'btn btn-sm btn-primary
                                glyphicon glyphicon-star' %>
          <% else %>
            <%= link_to '',
                        feature_article_path(article),
                        method: :post,
                        title: 'Feature',
                        data: { confirm: 'Are you sure you want to feature this article?'},
                        class: 'btn btn-sm btn-default
                                glyphicon glyphicon-star-empty' %>
          <% end %>
        <% end %>

        <% if power_user? || current_user?(article.user) %>
          <%= link_to '',
                      edit_article_path(article),
                      title: 'Edit',
                      class: 'btn btn-sm btn-warning
                              glyphicon glyphicon-pencil' %>

          <%= link_to '',
                       article,
                       method: :delete,
                       title: 'Delete',
                       data: { confirm: 'Are you sure you want to delete this article?' },
                       class: 'btn btn-sm btn-danger
                               glyphicon glyphicon-trash'%>
        <% end %>

      </div>

    <% end %>

  </div>

</div>
