<span class=<%= "data-no-turbolinks='true'".html_safe %>>
<%= bootstrap_form_for @article do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.collection_select  :category_id,
                             Category.all,
                             :id,
                             :name,
                             include_blank: false %>
  </div>

  <div>
    <%= f.label :body %>
  </div>
  <div>
    <%= f.cktext_area :body, rows: 10 %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
</span>
