<%= link_to 'New Article', new_article_path,
class: 'btn btn-default' %>
<% @articles.each do |article| %>
  <h3><%= article.title.html_safe %></h3>
  <p><%= article.body.html_safe %></p>

  <div>
  <%= link_to gravatar_for(article.user, size: 50), article.user %>
  <span class='user'>
    <%= link_to article.user.name, article.user %>
  </span>
  </div>

  <% if current_user?(article.user) %>

  <div align='right'>
    <%= link_to 'Edit Article', edit_article_path(article),
  class: 'btn btn-sm btn-default' %>
    <%= link_to 'Delete',
                 article,
                 method: :delete,
                 data: { confirm: 'You sure?' },
                 class: 'btn btn-sm btn-default'%>
  </div>

  <% end %>

  <% if current_user != (article.user) %>
  <br />
  <% end %>

  <% if article != @articles.last %>
  <hr />
  <% end %>
<% end %>
