<li class='panel panel-default user-panel'>
  <%= gravatar_for user, size: 50 %>

  <% if user.admin? %>
    <%= link_to user.name,
                user,
                class: 'admin-user' %>
  <% elsif user.mod? %>
    <%= link_to user.name,
                user,
                class: 'mod-user' %>
  <% else %>
    <%= link_to user.name,
                user %>
  <% end %>

  <% if current_user.admin? && !current_user?(user) && !user.admin? %>
    | <%= link_to 'delete',
                  user,
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this user?' } %>
  <% end %>
  <div>
    <p class='user-status'>
      <span title=<%= user.created_at.localtime.asctime.split.join('-') %>>
        Joined <%= distance_of_time_in_words_to_now(user.created_at) %> ago.
      </span>
    </p>
  </div>
</li>
