<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='panel panel-default col-md-3'>
    <section class='user_info'>
      <h1>
        <%= gravatar_for @user %>
        <% if @user.admin? %>
          <div class='user-name admin-user';><%= @user.name %></div>
        <% elsif @user.mod? %>
          <div class='user-name mod-user';><%= @user.name %></div>
        <% else %>
          <div class='user-name'><%= @user.name %></div>
        <% end %>
      </h1>
      <p class='user-time'>
        <span title=<%= @user.created_at.localtime.asctime.split.join('-') %>>
          Joined <%= distance_of_time_in_words_to_now(@user.created_at) %> ago.
        </span>
      </p>

    </section>
      <div class='user-buttons'>
        <% if current_user.admin? && !@user.admin?  %>
          <% if @user.mod? %>
            <%= link_to '',
                        promote_user_path(@user),
                        method: :post,
                        data: { confirm: 'Demote this Moderator to User?'},
                        class: 'btn btn-sm btn-success
                                glyphicon glyphicon-flash
                                user-button clear' %>
          <% else %>
            <%= link_to '',
                        promote_user_path(@user),
                        method: :post,
                        data: { confirm: 'Promote this User to Moderator?'},
                        class: 'btn btn-sm btn-default
                                glyphicon glyphicon-user
                                user-button clear' %>
          <% end %>
          <%= link_to '',
                      @user,
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this user?'},
                      class: 'btn btn-sm btn-danger
                              glyphicon glyphicon-remove
                              user-button clear' %>

        <% end %>
      </div>
  </aside>
  <div class='col-md-9'>
    <div class='user-articles col-md-8'>
      <%= render @user.articles %>
    </div>
    <div class='user-comments col-md-4'>
      <%= render :partial => 'comments/user_comment',
                 :collection => @user.comments.reverse,
                 :as => :comment %>
    </div>
  </div>
</div>
