<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
      <h1>
        <%= gravatar_for @user %>
        <% if @user.admin? %>
          <div class='user-name admin-user';><%= @user.name %></div>
        <% elsif @user.mod? %>
          <div class='user-name mod-user';><%= @user.name %></div>
        <% else %>
          <div class='user-name'><%= @user.name %></div>
        <% end %>
      </h1>
      <div>
        <% if current_user.admin? && !@user.admin?  %>
          <% if @user.mod? %>
            <%= link_to '',
                        promote_user_path(@user),
                        method: :post,
                        data: { confirm: 'Demote this Moderator to User?'},
                        class: 'btn btn-sm btn-success
                                glyphicon glyphicon-flash
                                user-promote clear' %>
          <% else %>
            <%= link_to '',
                        promote_user_path(@user),
                        method: :post,
                        data: { confirm: 'Promote this User to Moderator?'},
                        class: 'btn btn-sm btn-default
                                glyphicon glyphicon-user
                                user-promote clear' %>
          <% end %>
        <% end %>
      </div>
    </section>
  </aside>
</div>
